.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 152px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}

.header h1 {
  margin-left: 70px;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.69);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 40px 70px 100px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
}
